# Check the smae location name of UK and USA

In [1]:
import pandas as pd
import missingno as msno

In [6]:

df = pd.read_csv('../Load_Pre/data/geo_UEFA_tweets.csv')
# Filter for coordinates in the United States
# US boundaries: approximately latitude 24-49, longitude -125 to -66
def is_in_us(coord_str):
    try:
        if pd.isna(coord_str):
            return False
        lat, lon = map(float, coord_str.split(','))
        return 24 <= lat <= 49 and -125 <= lon <= -66
    except:
        return False

us_df = df[df['coordinates'].apply(is_in_us)]
us_df

,coordinates,location,text,created_at,lang,hashTags,cleaned_location,is_cl_related
230,"36.3560545,-77.0115135",Hertford,So what was a major trophy before the Champion...,Thu Jun 01 09:17:53 +0000 2017,en,NaN,Hertford,True
279,"40.7127281,-74.0060152","New York, USA","-Perico: Dissabte, el primer equip de Barcelon...",Thu Jun 01 09:51:22 +0000 2017,und,NaN,"New York, USA",True
295,"30.8709305,-87.751136",Linda Jones,Cardiff in lockdown for Champions League this ...,Thu Jun 01 10:04:59 +0000 2017,en,NaN,Linda Jones,True
340,"44.9617922,-124.0159522",Lincoln City,THE ONE AND ONLY RONALDO https://t.co/Zt1xqIvYbO,Thu Jun 01 10:33:46 +0000 2017,en,NaN,Lincoln City,True
391,"36.1010292,-115.1499047",Paradise,@whytey0912 @s_c_o_7_7 @chadamson3 @AlisonGCon...,Thu Jun 01 11:17:22 +0000 2017,en,NaN,Paradise,True
...,...,...,...,...,...,...,...,...
35945,"40.9125085,-73.8386504","Mount Vernon, NY",Qu'est ce que ce serait ma vie sans Le Real Ma...,Sun Jun 04 21:55:55 +0000 2017,fr,NaN,"Mount Vernon, NY",True
35976,"39.9436938,-75.1682265",The Royal County,@CalvinBook The world will only be safe when w...,Sun Jun 04 22:07:29 +0000 2017,en,NaN,The Royal County,True
36008,"34.2331373,-102.4107493",Earth,@EricDelgRLS ðŸ˜«ðŸ˜« you support Real Madrid and yo...,Sun Jun 04 22:25:10 +0000 2017,en,NaN,Earth,True
36024,"34.2331373,-102.4107493",Earth,"@EricDelgRLS so you support PSG, Orlando City ...",Sun Jun 04 22:31:27 +0000 2017,en,NaN,Earth,True
36091,"25.7741728,-80.19362","Miami, USA","Ese momento...el 4-1, narrado por mi hermano @...",Sun Jun 04 23:05:26 +0000 2017,es,extasis gloria campeones halamadrid UCLFinal,"Miami, USA",True

In [11]:
row = df.iloc[391]
print(row['text'])

@whytey0912 @s_c_o_7_7 @chadamson3 @AlisonGConroy 67 year ago ? Nothing up with celebrating history especially an aâ€¦ https://t.co/aUcl0widrs